.highlighted-green {
    color: #2e7d32; /* Reemplaza con el color hexadecimal que prefieras */
    font-weight: bold;
    font-size: 15px; /* Ajusta el tamaño de la fuente según tus necesidades */
}
.highlighted-white {
    color: #ffffff; /* Reemplaza con el color hexadecimal que prefieras */
    font-weight: bold;
    font-size: 15px; /* Ajusta el tamaño de la fuente según tus necesidades */
}