<footer class="page-footer #a5d6a7 green lighten-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Hifas de Grana</h5>
            <p class="grey-text text-lighten-4">Pensando nuestra acción, actuando nuestro pensar</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Redes Sociales</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Instragram</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Acerca de</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright
        <a class="grey-text text-lighten-4 right" href="https://www.facebook.com/profile.php?id=100083535093731">Login</a>
        </div>
      </div>
    </footer>