<head>
  <!-- Import Google Icon Font -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<footer class="page-footer #558b2f light-green darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Hifas de Grana</h5>
            <p class="grey-text text-lighten-4">Pensando nuestra acción, actuando nuestro pensar</p>
            <li><a (click)="contacto()" class="highlighted-white">Contacto</a></li>
    <li><a (click)="galeria()" class="highlighted-white">Galería</a></li> <!-- Agrega 'black-text' para cambiar el color del texto a negro -->  
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Redes Sociales</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/profile.php?id=100083535093731" target="_blank">Facebook</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/hifas.de.grana?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">Instragram</a></li>
              <li><a class="grey-text text-lighten-3" (click)="acerca_de()">Acerca de</a></li>
              <li><a class="grey-text text-lighten-3" (click)="faq()">FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2014 Copyright
        
        <a (click)="login()" class="grey-text text-lighten-4 right" >Login</a>
        
        </div>
      </div>
    </footer>