<app-navigation></app-navigation>

<head>
  <!-- Import Google Icon Font -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<div class="parallax-container">
  <div class="parallax"><img src="https://i.imgur.com/vZlYqxX.jpg"></div>
</div>

<div class="carousel carousel-slider center">
  <div class="carousel-fixed-item center">
  </div>
  <div class="carousel-item #c8e6c9 green lighten-4 black-text" href="#one!">
    <h2 class="right-align" style="padding-right: 450px;">Hifas de Grana</h2>
    <p class="black-text right-align" style="padding-right: 500px;">(Colectivo)</p>
    <div class="image-container">
      <img class="bottom-image" src="https://i.imgur.com/YBB9CM8.jpg" alt="Image 1">
      <img class="top-image" src="https://i.imgur.com/XHPnffT.jpg" alt="Image 2">
    </div>
  </div>
  <div class="carousel-item #c8e6c9 green lighten-4 black-text" href="#two!">
    <h2 class="right-align" style="padding-right: 450px;">Cine debate</h2>
    <div class="image-container2">
      <img class="bottom-image2" src="https://i.imgur.com/0Zkn5R3.jpg">
    </div>
  </div>
  <div class="carousel-item #c8e6c9 green lighten-4 black-text" href="#three!">
    <h2 class="right-align" style="padding-right: 450px;">Taller de Bordado</h2>
    <div class="image-container2">
      <img class="bottom-image2" src="https://i.imgur.com/Hb6jFbN.jpg">
    </div>
  </div>
  <div class="carousel-item #c8e6c9 green lighten-4 black-text" href="#four!">
    <h2 class="right-align" style="padding-right: 450px;">Circulo de lectura</h2>
    <div class="image-container3">
      <img class="bottom-image3" src="https://i.imgur.com/AWRWgSS.png">
    </div>
  </div>
</div>

<div class="carousel-fixed-item center" style="padding-left: 850px;">
  <a href="https://www.facebook.com/profile.php?id=100083535093731" target="_blank" class="btn waves-effect light-blue darken-text-2"><i class="fab fa-facebook-f left"></i>FACEBOOK</a>
</div>

  <div class="parallax-container">
    <div class="parallax"><img src="https://i.imgur.com/vZlYqxX.jpg"></div>
  </div>  

<app-footer></app-footer>