<app-navigation></app-navigation>

<head>
  <!-- Import Google Icon Font -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<div class="parallax-container">
  <div class="parallax"><img src="https://i.imgur.com/vZlYqxX.jpg"></div>
</div>

<div class="carousel carousel-slider center">
  <div class="carousel-fixed-item center">
    <a href="https://www.facebook.com/profile.php?id=100083535093731" target="_blank" class="btn waves-effect light-blue darken-text-2"><i class="fab fa-facebook-f left"></i>FACEBOOK</a>
  </div>
  <div class="carousel-item green white-text" href="#one!">
    <h2>Hifas de Grana</h2>
    <p class="white-text">Colectivo</p>
    <div class="container">
      <img class="responsive-img" src="https://i.imgur.com/XHPnffT.jpg"> 
    </div>
  </div>
  <div class="carousel-item green white-text" href="#two!">
    <h2>Cine debate</h2>
    <p class="white-text"></p>
    <div class="container">
      <img class="responsive-img" src="https://i.imgur.com/Ie1QcYS.jpg">
    </div>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Taller de bordado</h2>
    <p class="white-text"></p>
    <div class="container">
      <img class="responsive-img" src="https://i.imgur.com/Hb6jFbN.jpg">
    </div>
  </div>
  <div class="carousel-item green white-text" href="#four!">
    <h2>Circulo de Lectura</h2>
    <p class="white-text"></p>
    <div class="container">
      <img class="responsive-img" src="https://i.imgur.com/AWRWgSS.png">
    </div>
  </div>
</div>

  <div class="parallax-container">
    <div class="parallax"><img src="https://i.imgur.com/vZlYqxX.jpg"></div>
  </div>  

<app-footer></app-footer>