<head>
  <!-- Import Google Icon Font -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>








<div class="parallax-container">
  <div class="parallax"><img src="https://i.imgur.com/vZlYqxX.jpg"></div>
</div>

<div class="section green"> 
  <div class="carousel carousel-slider center">
    <div class="carousel-item green white-text" href="#one!">
      <h1>Hifas de grana</h1>
      <p class="white-text">Colectivo</p>
    </div>
    <div class="carousel-item green white-text" href="#two!">
      <h1>Cine Debate</h1>
      <p class="white-text"></p>
    </div>
    <div class="carousel-item green white-text" href="#three!">
      <h1>Taller de abordado</h1>
      <p class="white-text"></p>
    </div>
    <div class="carousel-item green white-text" href="#four!">
      <h1>Cicrulo de lectura</h1>
      <p class="white-text"></p>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="https://i.imgur.com/vZlYqxX.jpg"></div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header">¿Quienes Somos?</h2>
    <h4 class="grey-text text-darken-3 lighten-3">Colectivo oaxaqueño de Educación Ambiental, queremos generar reflexión y acción socioambiental para un mejor vivir.</h4>
  </div>
  <div class="center" style="padding-left: 30%;">
    <a href="https://www.facebook.com/profile.php?id=100083535093731" target="_blank" class="btn waves-effect light-blue darken-text-2"><i class="fab fa-facebook-f left"></i>FACEBOOK</a>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="https://i.imgur.com/vZlYqxX.jpg"></div>
</div> 