<body>
    <div class="container">
        <h1>Preguntas Frecuentes</h1>

        <ul class="collapsible">
            <li>
                <div class="collapsible-header">¿Qué significa “Hifas de Grana”?</div>
                <div class="collapsible-body">
                    <p>Hifas de Grana toma su nombre de las hifas, las redes micelares de los hongos. Así como las hifas se conectan y extienden a través de las raíces, nuestro colectivo busca unir a las personas en torno a temas ambientales y sociales.</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">¿Cuál es la misión de Hifas de Grana?</div>
                <div class="collapsible-body">
                    <p>Nuestra misión es generar reflexión y acción en temas controversiales de la sociedad, con un enfoque especial en la educación ambiental. Creemos que la conciencia colectiva es clave para un cambio positivo.</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">¿Cómo puedo unirme a Hifas de Grana?</div>
                <div class="collapsible-body">
                    <p>¡Nos encantaría que te unas a nuestra red de hifas! Puedes seguirnos en nuestras redes sociales para estar al tanto de nuestros eventos, talleres y acciones. También puedes contactarnos directamente para participar.</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">¿Qué tipo de actividades realiza Hifas de Grana?</div>
                <div class="collapsible-body">
                    <ul>
                        <li>Talleres y Charlas: Organizamos eventos educativos sobre temas ambientales.</li>
                        <li>Conexiones Globales: Extendemos nuestro impacto más allá de Asunción Nochixtlán, conectándonos con otros colectivos y personas.</li>
                        <li>Denuncias y Acciones: Nos pronunciamos contra el incumplimiento gubernamental y tomamos medidas para generar conciencia.</li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">¿Cómo puedo colaborar con Hifas de Grana?</div>
                <div class="collapsible-body">
                    <p>Puedes colaborar asistiendo a nuestros eventos, compartiendo nuestro contenido en redes sociales y participando en nuestras acciones. ¡Cada pequeña acción cuenta!</p>
                </div>
            </li>
            <li>
                <div class="collapsible-header">¿Dónde puedo encontrar más información sobre Hifas de Grana?</div>
                <div class="collapsible-body">
                    <ul>
                        <li>Facebook: <a href="https://www.facebook.com/profile.php?id=100083535093731">https://www.facebook.com/profile.php?id=100083535093731</a></li>
                        <li>Instagram: <a href="https://www.instagram.com/hifas.de.grana?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">https://www.instagram.com/hifas.de.grana?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">¿Cómo puedo contactarme con Hifas de Grana?</div>
                <div class="collapsible-body">
                    <p>Puedes contactarnos por correo electrónico a hifasdegrana&#64;gmail.com o por teléfono al +52 123 456 7890.</p>
                </div>
            </li>
        </ul>
    </div>
</body>