

<body>
    <div class="container">
        <h1 class="center-align">Bienvenida(o)</h1>
    </div>

    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="https://i.imgur.com/Cc2x2vk.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title">Contactos</span>
                    <p>Personas que quieren conectar con el colectivo.</p>
                </div>
                <div class="card-action">
                    <a (click)="conecta()">Más información</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

