

<body>
    <div class="container">
        <h1 class="center-align">Bienvenida(o)</h1>
    </div>

    <div class="row">
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="https://scontent.foax2-1.fna.fbcdn.net/v/t39.30808-6/298242295_146429308068032_6496415343086648368_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeEUWBrFHJgks8eyoitUee8vI7kzOl0tdiAjuTM6XS12IOOKIWSqtSuhnXGw0O3ToC0WLJWqHkKgWs6E0nhXtVA-&_nc_ohc=qPJvr0UDs-sAX9Qgb4R&_nc_ht=scontent.foax2-1.fna&oh=00_AfAenIei8wsem6DIzT-sfDZ-0ctIt7gjUYAPif-ZpNRv0Q&oe=65CE51F7">
                </div>
                <div class="card-content">
                    <span class="card-title">Contactos</span>
                    <p>Personas que quieren conectar con el colectivo.</p>
                </div>
                <div class="card-action">
                    <a (click)="conecta()">Más información</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

