<main>
    <section id="acerca-de">
      <div class="container">
        <h2>¿Quiénes somos?</h2>
        <p>Hifas de Grana es un colectivo conformado por jóvenes de Asunción Nochixtlán, Oaxaca, México. Inspirados por la red micelar de los hongos, nuestra misión es conectar y unir a las personas, al igual que las hifas se extienden y se entrelazan a través de las raíces.</p>
      </div>
    </section>

    <section id="vision">
      <div class="container">
        <h2>Nuestra Visión</h2>
        <p>Buscamos fomentar la reflexión y la acción en temas controversiales de nuestra sociedad, con un enfoque especial en la educación ambiental. Creemos que la conciencia individual y colectiva es fundamental para crear un cambio positivo en nuestro entorno.</p>
      </div>
    </section>

    <section id="que-hacemos">
      <div class="container">
        <h2>¿Qué hacemos?</h2>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header">Talleres y Charlas</div>
            <div class="collapsible-body">
              <p>Organizamos talleres y charlas comunitarias para difundir conocimientos sobre temas ambientales y promover la participación activa.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Conexiones Globales</div>
            <div class="collapsible-body">
              <p>Al igual que las hifas, extendemos nuestro impacto más allá de Asunción Nochixtlán, conectándonos con otros colectivos y personas en México y en todo el mundo.</p>
            </div>
          </li>
          <li>
            <div class="collapsible-header">Denuncias y Acciones</div>
            <div class="collapsible-body">
              <p>Nos pronunciamos contra el incumplimiento gubernamental y tomamos acciones para generar conciencia y cambio.</p>
            </div>
          </li>
        </ul>
      </div>
    </section>

    <section id="unete">
      <div class="container">
        <h2>Únete a Nuestra Red</h2>
        <p>¡Únete a nuestra red de hifas! Juntos, podemos tejer un futuro más sostenible y consciente.</p>
        <a href="/contactos" class="btn waves-effect waves-light">Contáctanos</a>
      </div>
    </section>
  </main>
