<nav #navbar class="nav-wrapper #a5d6a7 green lighten-3"> <!-- Reemplaza 'red' con el color que prefieras -->
  <a href="#" class="brand-logo">
    <img class="navbar-logo" src="https://i.imgur.com/G9rYdkU.jpg?2" alt="Logo de la empresa">
  </a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="/contactos" class="highlighted-green">Contacto</a></li>
    <li><a href="/galeria" class="highlighted-green">Galería</a></li> <!-- Agrega 'black-text' para cambiar el color del texto a negro -->  
  </ul>
</nav>